html {
    background-color: #dddddd;
    height: 297mm;
    width: 210mm;
    margin: 0px auto;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 297mm;
    width: 210mm;
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.main {
    height: 100%;
}

/*
 * header
-------------------------------------------------- */
.header {
    width: 100%;
    background-image: linear-gradient(45deg, #457aff, #30d4b9);
    padding: 5mm 0mm;
}

header span {
    margin-left: 10px;
}

header span.snd {
    margin-left: 32px;
}

.photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ffffff;
}

header a {
    color: #ffffff;
}

.social a {
    margin: 0 auto;
    font-size: 2em;
}

/*
 * catchphrase
-------------------------------------------------- */
.catchphrase {
    margin-top: 15px;
}

/*
 * Skills
-------------------------------------------------- */
.skills ul {
    list-style-type: none;
    padding: 0px;
}

.skills-container {
    width: 100%;
    background-color: #ddd;
}

.skills-item {
    text-align: right;
    height: 3px;
    background-image: linear-gradient(45deg, #457aff, #30d4b9);
}

.html5 {
    width: 80%;
}

.css3 {
    width: 70%;
}

.bootstrap {
    width: 70%;
}

.php {
    width: 80%;
}

.mysql {
    width: 70%;
}

.jquery {
    width: 70%;
}

.symfony {
    width: 75%;
}

.git {
    width: 70%;
}

.linux {
    width: 80%;
}

.phpunit {
    width: 70%;
}

.javascript {
    width: 75%;
}

.api {
    width: 70%;
}


/*
 * Timeline
-------------------------------------------------- */
.timeline {
    width: 100%;
    background: #fff;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(25% + 17px);
    bottom: 0px;
    width: 4px;
    background: #dddddd;
    box-shadow: 0px 5px 3px 0px rgba(255, 255, 255, 1) inset;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .date {
    margin-bottom: .5em;
    float: left;
    width: 25%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .date:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    border-radius: 100%;
    top: 15%;
    right: -19px;
    z-index: 99;
}

.entry .date h6 {
    margin: 0;
}

.entry .date p {
    margin: 0;
    font-size: 100%;
}

.entry .body {
    float: right;
    width: 75%;
    padding-left: 30px;
}

.entry .body p,
.entry .body ul li {
    font-size: 0.8em;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}


.entry .body p ul {
    color: #aaaaaa;
    padding-left: 0;
    list-style-type: none;
}

.entry .body p ul li:before {
    content: "–";
    margin-right: .5em;
}


/*
 * Footer
-------------------------------------------------- */
.footer {
    width: 100%;
    background-color: #222222;
    font-size: 0.8em;
}

.footer h4 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0px 0px 0px 15px;
}